<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Legyen_ön_is_milliomos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Legyen_ön_is_milliomos.Properties.Settings>
            <setting name="playerName" serializeAs="String">
                <value />
            </setting>
            <setting name="helps" serializeAs="String">
                <value />
            </setting>
            <setting name="checkedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="nehezseg" serializeAs="String">
                <value />
            </setting>
            <setting name="questionTags" serializeAs="String">
                <value />
            </setting>
            <setting name="levels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="themes" serializeAs="String">
                <value />
            </setting>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mentes" serializeAs="String">
                <value>False</value>
            </setting>
        </Legyen_ön_is_milliomos.Properties.Settings>
    </userSettings>
</configuration>